language: go

go:
  - "1.12.x"

services:
  - docker

install:
  # protoc
  - mkdir -p $HOME/protobuf && pushd $HOME/protobuf
    && curl -LO 'https://github.com/google/protobuf/releases/download/v3.7.1/protoc-3.7.1-linux-x86_64.zip'
    && unzip protoc-3.7.1-linux-x86_64.zip
    && popd

env:
  matrix:
  - PATH=$HOME/protobuf/bin:$PATH GO111MODULE=on
  global:
  - secure: RNLZ70wx1XKx4bj4SctarZVpHc++cgjmJGVvruNNLfEePdPJn19iiDGvGCLAnD554JNWlaL28FQFQFg0kOo7B1e7pJvUNOq7VEBtHOWS757Oi+avlPO5diR8g0Qcc1yZw73UJkr+XnRE/sUwdqay/NgbJAeV+Kseg79JfZnZRexjLWvGNj6GZMMo/7kzYUIcf6YaU9+kdp5lPBA2zqHLL2qOuxEp3+swYrMccnQ8tFO+BgrfvX+ger2n51csoU5AoRgBLhwhGkaGRk67ucaxR8QMtuVMYCKFQvbulRL4BgBhuyeAnp6DbSPP5169JRfcGJXnapH2dpfx1wEeuokIilLCFPmpKRNxxUt12vkIPFYNUhXbXu960oWAlAbUJ683jznVAm51k77ViFFq0gBUMoE/QG77QnPsExqrwd2sWes3qNZEzUyA4sCwhJDZ5k5BTxo0Q8n5vfKtCfZU/o7aD8QVStSVl/EwjJ9oz/Sqoz6LELWwTitx4QciPGU1MGvtXH/iQp4lDc3E7zxJRAWcOWwSPYE3pySxg2aBjNBGTXIghDkZMMqrdBUR4hPj2w3nv6QrskeJx8s7oMxCiwTOZzEQekkYDTqCOz2IEROCB9Ciqaf8hS2ihms5a8ncSWtfYCG1GPpUgot7djdMyqqhuGg+jowIZhhR3BPVgNRcHzI=
  - secure: E1PwYShG3Co6dAsM+MV38X3rYwX9asyClTl0NYFBVVtDCBikuvR4PwjipYs/8Fj7aKkhB/vvEokTCqvXajMwJwI4JBgb97aNEEl/IY+pDCYDyqCBZEK2Fl5EQ+WvZuPkWwdJQZCUgcRKncYsfkXHlOOa/qUPPvsjJKJocOEuEw4MvL1RyzX6lRHAEmgM7Ahw5M5U1KS8BeJVs2xM+LBP32LP4PYExX1kbW2SMuZMLmkV865KVk+tDgQoqrGmp8FxvQkX/ugL6IDdWUqDiJUGBBLnwcUDKQO2eixG7RolpfLy05N6JxBPO432u6UZUL1LGWSOsKsCb1j4ISgBT8LYgqv8r55TYv+6TlGP8wskY/Djjvi3XY92xVBxMed4FpFye5aJar6QEr0to6Z/5sYeFofOe3sEDAat9OF/Xqf8jbP9gX3xXwLJVSMtJFWTeyypMOdZ/gXeFP4h3OgjVoxI7m6IQQVmWudKHJieA+fZUgf/29yPHmxV3IUIEZkc1hjirgCIiVuL0lc9XowG4rW/IVrnp9Z/lYDSqyNi6NdaRzXF9YxjbiDEXITipOcYjBkIifSZictL9Zlgk6LY3HoYng9wQxWUM0w6LtjsxF1kReMYLtniPYGW5GR8NKAiZMjhtgXgXyQMCnevCBLeZEMr7ty7jXoRRZ8PGS177xEFEdI=

after_success:
  - test -n "$TRAVIS_TAG" && docker login -u=evenh -p="$DOCKER_PASSWORD"

# calls goreleaser
deploy:
  - provider: script
    skip_cleanup: true
    script: make clean && curl -sL https://git.io/goreleaser | bash
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
